body {
  background-color:#ffeb90;
  background-image:url("./photos/032.JPG");
  background-size: 300;
  /*background-color:#91b7c7;*/
}
h1 {
  text-align: center;
  font: impact;
  color: #343f3e;
}
h1 span {
  background-color: #bbbe64;
}
h2 {
  test-align: center;
  font: arial;
  color:#984447;
}
p {
  background-color: #bbbe64;
  color: #343f3e;
  font-family: fantasy;
}
